#scUPscroller {
    position: fixed;
    border: none;
    cursor: pointer;
    z-index: 999999 !important;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    visibility: hidden;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    display: flex;
}

#scUPscroller.active {
    opacity: 0.6;
    visibility: visible;
    pointer-events: auto;
}